version: '3.8'

services:
  app:
    build: .
    container_name: boardgameapi_app
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=boardgames
      - DB_USER=postgres
      - DB_PASSWORD=password
      - SECRET_KEY=supersecretkey
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:15
    container_name: boardgameapi_db
    environment:
      - POSTGRES_DB=boardgames
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: